/* !CSS RESET */
/* prefix declarations */
/* Keyframes */
@-webkit-keyframes paused {
  /* animate the pause button when Sequence is paused */
  0% {
 background-position: 0 0;
 opacity: 0;
}
 100% {
 background-position: 0 0;
 opacity: .7;
}
}
 @-moz-keyframes paused {
  /* animate the pause button when Sequence is paused */
  0% {
 background-position: 0 0;
 opacity: 0;
}
 100% {
 background-position: 0 0;
 opacity: .7;
}
}
 @-ms-keyframes paused {
  /* animate the pause button when Sequence is paused */
  0% {
 background-position: 0 0;
 opacity: 0;
}
 100% {
 background-position: 0 0;
 opacity: .7;
}
}
 @-o-keyframes paused {
  /* animate the pause button when Sequence is paused */
  0% {
 background-position: 0 0;
 opacity: 0;
}
 100% {
 background-position: 0 0;
 opacity: .7;
}
}
 @keyframes paused {
  /* animate the pause button when Sequence is paused */
  0% {
 background-position: 0 0;
 opacity: 0;
}
 100% {
 background-position: 0 0;
 opacity: .7;
}
}
 @-webkit-keyframes status-bar {
  /* cause the status bar to move */
  0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @-moz-keyframes status-bar {
  /* cause the status bar to move */
  0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @-ms-keyframes status-bar {
  /* cause the status bar to move */
  0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @-o-keyframes status-bar {
  /* cause the status bar to move */
  0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @keyframes status-bar {
  /* cause the status bar to move */
  0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @-webkit-keyframes preload {
  /* preloader icons */
  0% {
 opacity: 0;
}
 50% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
 @-moz-keyframes preload {
  /* preloader icons */
  0% {
 opacity: 0;
}
 50% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
 @-ms-keyframes preload {
  /* preloader icons */
  0% {
 opacity: 0;
}
 50% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
 @-o-keyframes preload {
  /* preloader icons */
  0% {
 opacity: 0;
}
 50% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
 @keyframes preload {
  /* preloader icons */
  0% {
 opacity: 0;
}
 50% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
/* when in fallback mode (for browsers that don't support transitions) hide anything outside of the Sequence container */
.banner {
	width: 100%;
	height: 770px;
	overflow: hidden;
	color: #fff;
	text-align: center;
}
#sequence {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}
#sequence > .sequence-canvas {
	height: 100%;
	width: 100%;
}
#sequence > .sequence-canvas > li {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#sequence > .sequence-canvas li > * {
	position: absolute;
}
.controls {
	background-color: transparent;
	border: 0;
	font-size: 80px;
	line-height: 80px;
	margin-top: 0;
	font-family: 'FontAwesome';
}
.controls .sequence-prev {
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top: -30px;
	color: #fff;
	z-index: 100;
}
.controls .sequence-next {
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -30px;
	color: #fff;
	z-index: 100;
}
.controls .sequence-prev, .controls .sequence-next {
	opacity: 0.5;
	cursor: pointer;
}
#sequence .slide_img1 {
	left: 0;
	position: absolute;
	bottom: -1000px;
	z-index: 5;
	opacity: 0;
}
#sequence .animate-in .slide_img1 {
	left: 0;
	bottom: 0;
	opacity: 1;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
#sequence .animate-out .slide_img1 {
	left: 0;
	opacity: 0;
	bottom: -1000px;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
#sequence .cp11 {
	left:-150%;
	position: absolute;
	top: 150px;
	width: 100%;
	text-align: center;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration:  1s;
	-o-transition-duration:  1s;
	transition-duration:  1s;
}
#sequence .animate-in .cp11 {
	left:0%;
	opacity:1;
}
#sequence .animate-out .cp11 {
	opacity:0;
	left:-150%;
}
#sequence .cp12 {
	right:-120%;
	position: absolute;
	top: 200px;
	width: 100%;
	text-align: center;
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-ms-transition-duration:  2s;
	-o-transition-duration:  2s;
	transition-duration:  2s;

}
#sequence .animate-in .cp12 {
	right:0%;
	opacity:1;
}
#sequence .animate-out .cp12 {
	opacity:0;
	right:-120%;
}
#sequence .animate-out .cp12{
	opacity:0;
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-ms-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}
#sequence .slide_img2 {
	width: 40%;
	max-width: 45%;
	right: -1000px;
	opacity: 1;
	position: absolute;
	top: 200px;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
#sequence .animate-in .slide_img2 {
	right:50px;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
#sequence .animate-out .slide_img2 {
	right: -1000px;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
#sequence .caption2 {
	position: absolute;
	left: -100%;
	top: 250px;
	width: 45%;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
#sequence .animate-in .caption2 {
	left: 100px;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
#sequence .animate-out .caption2 {
	left: -100%;
	opacity: 0;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
#sequence .caption2  .buy-now{
	position: relative;
	left: 0;
	bottom:-1000px;
	width: 100%;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
	transition-delay: .5s;
	-webkit-transition-delay: .5s;
}
#sequence .animate-in .caption2 .buy-now {
	bottom:0px;
}
#sequence .animate-out .caption2 .buy-now {
	bottom:-1000px;
}
#sequence .caption2  .learn-more{
	position: relative;
	left: 0;
	bottom:-1000px;
	width: 100%;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
	transition-delay: 1s;
	-webkit-transition-delay: 1s; 
}
#sequence .animate-in .caption2 .learn-more {
	bottom:0px;
}
#sequence .animate-out .caption2 .learn-more {
	bottom:-1000px;
}
#sequence .caption1 h1 {
ont-family: 'Montserrat', 'Noto Sans JP', sans-serif;
	font-size: 44px;
	line-height: 44px;
	font-weight: 400;
	margin-bottom: 10px;
}
#sequence p {
ont-family: 'Montserrat', 'Noto Sans JP', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 58px;
}
#sequence .caption2 h1 {
ont-family: 'Montserrat', 'Noto Sans JP', sans-serif;
	font-size: 40px;
	line-height: 440x;
	font-weight: 400;
	margin-bottom: 30px;
}
.buy-now {
	color: #ffffff;
	background: #3498DB;
	text-shadow: none;
	font-size: 16px;
	margin: 5px;
	padding: 11px 19px;
}
.learn-more {
	color: #3498DB;
	background: #fff;
	text-shadow: none;
	font-size: 16px;
	margin: 5px;
	padding: 11px 19px;
}
@media (max-width: 768px) {
/** Baner*/
.banner {
	max-height: 550px;
}
.controls .sequence-prev {
	left: 10px;
}
.controls .sequence-next {
	right: 10px;
}
#sequence .slide_img1 {
	top: 100%;
}
#sequence .animate-in .slide_img1 {
	top: 35%;
}
#sequence .animate-out .slide_img1 {
	top: 100%;
}
#sequence .slide_img2 {
	top: 15%;
	right: -100%;
	max-width: 40%;
}
#sequence .animate-in .slide_img2 {
	top: 15%;
	right: 8%;
	max-width: 40%;
}
#sequence .animate-out .slide_img2 {
	top: 15%;
	right: -100%;
	max-width: 40%;
}
#sequence .animate-in .caption1 {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	left: 0;
	top: 10%;
}
#sequence  .cp11 {
	top:10%;
	left:-1200px;
	transition:all 1s;
}
#sequence .animate-in .cp11{
	left:0px;
	top:10%;
}
#sequence .animate-out .cp11{
	left:-1200px;
	top:10%;
}
#sequence  .cp12 {
	left:100%;
	top: 20%;
	transition:all 1s;
}
#sequence .animate-in .cp12 {
	left:0px;
	top: 20%;
}
#sequence .animate-out .cp12 {
	left:100%;
	top: 20%;
}
#sequence .caption2 {
	left: -100%;
	top: 10%;
}
#sequence .animate-in .caption2 {
	left: 7%;
	top: 10%;
}
#sequence .animate-out .caption2 {
	left: -100%;
	top: 10%;
}
}
@media (max-width: 767px) {
/** Baner*/
.banner {
	max-height: 500px;
}
#sequence .caption1 h1 {
ont-family: 'Montserrat', 'Noto Sans JP', sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 10px;
}
#sequence p {
ont-family: 'Montserrat', 'Noto Sans JP', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 30px;
}
#sequence .caption2 h1 {
ont-family: 'Montserrat', 'Noto Sans JP', sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 20px;
}
#sequence .animate-in .caption2 {
	left: 8%;
	top: 20%;
}
}
@media (max-width: 685px) {
.banner {
	max-height: 440px;
}
.buy-now {
	clear: both;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 10px;
}
.learn-more {
	clear: both;
	display: inline-block;
	font-size: 12px;
}
}
@media (max-width: 480px) {
.banner {
	max-height: 350px;
}
#sequence p {
	display: none;
}
.buy-now, .learn-more {
	margin: 3px;
	padding: 3px 5px;
}
}
@media (max-width: 384px) {
.banner {
	max-height: 250px;
}
}