

/*----------------------------------------------------
    Color
-------------------------------------------------------*/

.logo ._u, .item_box:hover i,
.team .member_info i,
.foot_logo ._u, .item_box h3,
.logo ._u, .postby strong,
.site-header .navbar-nav > li > a,
.team .social ul li a,
.service_box h4, .learn-more,
.team .member_info i,
.comment_info h4 a:hover:not(.reply),
#primary a, .widget-post .media-body a,
.entry h3 a, .widget h3, .share-icon  li a,
#primary a:before,
.foot_logo ._u {
    color: #ff6347;
}

/*----------------------------------------------------
    Background Color
-------------------------------------------------------*/

::-moz-selection { /* Code for Firefox */
    background: #ff6347;
    color: #fff;
}

::selection {
    background: #ff6347;
    color: #fff;
}

.logo ._bg,
#about .head,
#services .head,
.pf-thumb .image-popup,
.planContainer .button:hover,
#plans .team .button,
#portfolio .head, .buy-now,
#blog .head,a.next-section,
.service_hover, .common_btn,
#contact input[type="submit"],
#contact .submit, .footer_top,
#priceplans .head, a.top-section,
.team:hover .member_info,
.post-nav li.active a, .dropcap,
.cf-submit input:hover,
.comment_info h4 .reply:hover,
.navbar-inverse .navbar-toggle,
#contact .head {
    background-color: #ff6347;
}

.common_btn:hover,
.common_btn:focus,
#contact input[type="submit"]:hover,
#contact input[type="submit"]:focus,
#contact .submit:hover,
#contact .submit:focus {
    background-color: #ff6347;
}

/*----------------------------------------------------
    Border Color
-------------------------------------------------------*/

.cf-submit input:hover {
    border-color: #ff6347;
}

.header, .post-meta,
.item_box:hover {
    border-bottom-color: #ff6347;
}

#primary li:before {
    border-right-color: #ff6347;
}

blockquote {
    border-left-color: #ff6347;
}